<h1> you did it yay </h1>

<h2> <%= @deck.name %> </h2>

<p> You've completed a round of <%= @deck.name%>. You answered <%= @true_guesses.length %> out of <%= @deck.cards.length %> on the first try. You submitted <%=@guesses.length %> total guesses before each card was answered correctly </p>
